{% if other_products is not empty %}

    <h2>Vous aimeriez aussi ...</h2>

    <div class="list-group">
        {% for product in other_products %}
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                {% include 'default/_product_details.html.twig' %}

            </div>
        {% endfor %}
    </div>

{% endif %}